<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Homepage of the Node.js assignment for Web Technologies WS2023/24."
    />
    <meta
      name="keywords"
      content="Node.js, Web Technologies, Assignment, WS2023/24"
    />
    <meta
      name="author"
      content="David Fodor, Erik Barger, Max Something, Something Something"
    />
    <title>Homepage</title>
    <link rel="icon" href="/favico.png" type="image/png">
    <link rel="stylesheet" href="../styles/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" aria-hidden="true">Node.js Assignment</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-hidden="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users page</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container py-5">
      <h1 class="display-5 fw-bold">Welcome to our project!</h1>
      <p class="col-md-10 fs-4">
        Here you can find the name and id of the creators of this project, or
        simply navigate to the users page to see all users.
      </p>
      <a href="/users/" class="btn btn-primary btn-lg">Go to Users page</a>
    </div>
    <div class="container">
      <div class="row g-0 justify-content-around">
        <% creators = [ { name: "David Fodor", id: "23/1/0855/015", img:
        "/creators/david.jpg"}, { name: "Erik Barger", id: "23/1/0855/005", img:
        "/creators/erik.jpg"}, { name: "Ilya Kruchenetkiy", id: "23/0/0398/109", img:
        "/creators/ilya.jpg"}, { name: "Max Glos", id: "23/0/0855/101", img:
        "/creators/max.jpg"}, ]; for (let i = 0; i < creators.length; i++) {
        %>
        <div class="card m-4" style="width: 22rem">
          <img
            src="<%= creators[i].img %>"
            class="card-img-top"
            alt="Image of the creator: <%= creators[i].name %>"
            style="width: 100%; height: 15rem; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title"><%= creators[i].name %></h5>
            <p class="card-text">ID: <%= creators[i].id %></p>
          </div>
        </div>
        <% } %>
      </div>
      <div class="mt-5"></div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
